<div>
    <p>CLUB MESSAGES</p>
    <% if (!user || user.membership_status === false){%>
         <% messages.forEach(message=>{%>
    <div>
        <p><%= message.message_title %></p>
        <p><%= message.message %></p>
        <p>by anonymous</p>
        <p>created at unknown</p>
    </div>
   <% })
    } else { %>
       

     <% messages.forEach(message=>{%>
    <div>
        <p><%= message.message_title %></p>
        <p><%= message.message %></p>
        <p>by <%= user.username %></p>
        <p><%= message.created_at %></p>
    </div>
   <% }) %>
   <% } %>

  
</div>